In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("C:/Users/HP/OneDrive/Desktop/DSBDA/Grp B Assign 1/facebook.csv", sep=';')

In [19]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [21]:
# Subset with selected columns
subset_columns = df[['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday']]

# Subset with first 10 rows
subset_rows = df.iloc[:10]

# Display both subsets
subset_columns.head(), subset_rows

(   Page total likes    Type  Category  Post Month  Post Weekday
 0            139441   Photo         2          12             4
 1            139441  Status         2          12             3
 2            139441   Photo         3          12             3
 3            139441   Photo         2          12             2
 4            139441   Photo         2          12             2,
    Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
 0            139441   Photo         2          12             4          3
 1            139441  Status         2          12             3         10
 2            139441   Photo         3          12             3          3
 3            139441   Photo         2          12             2         10
 4            139441   Photo         2          12             2          3
 5            139441  Status         2          12             1          9
 6            139441   Photo         3          12             1          3
 7            139441   Photo         3          12             7          9
 8            139441  Status         2          12             7          3
 9            139441   Photo         3          12             6         10

    Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
 0   0.0                       2752                             5091
 1   0.0                      10460                            19057
 2   0.0                       2413                             4373
 3   1.0                      50128                            87991
 4   0.0                       7244                            13594
 5   0.0                      10472                            20849
 6   1.0                      11692                            19479
 7   1.0                      13720                            24137
 8   0.0                      11844                            22538
 9   0.0                       4694                             8668

    Lifetime Engaged Users  Lifetime Post Consumers  \
 0                     178                      109
 1                    1457                     1361
 2                     177                      113
 3                    2211                      790
 4                     671                      410
 5                    1191                     1073
 6                     481                      265
 7                     537                      232
 8                    1530                     1407
 9                     280                      183

    Lifetime Post Consumptions  \
 0                         159
 1                        1674
 2                         154
 3                        1119
 4                         580
 5                        1389
 6                         364
 7                         305
 8                        1692
 9                         250

    Lifetime Post Impressions by people who have liked your Page  \
 0                                               3078
 1                                              11710
 2                                               2812
 3                                              61027
 4                                               6228
 5                                              16034
 6                                              15432
 7                                              19728
 8                                              15220
 9                                               4309

    Lifetime Post reach by people who like your Page  \
 0                                              1640
 1                                              6112
 2                                              1503
 3                                             32048
 4                                              3200
 5                                              7852
 6                                              9328
 7                                             11056
 8                                              7912
 9                                              2324

    Lifetime People who have liked your Page and engaged with your post  \
 0                                                119
 1                                               1108
 2                                                132
 3                                               1386
 4                                                396
 5                                               1016
 6                                                379
 7                                                422
 8                                               1250
 9                                                199

    comment    like  share  Total Interactions
 0        4    79.0   17.0                 100
 1        5   130.0   29.0                 164
 2        0    66.0   14.0                  80
 3       58  1572.0  147.0                1777
 4       19   325.0   49.0                 393
 5        1   152.0   33.0                 186
 6        3   249.0   27.0                 279
 7        0   325.0   14.0                 339
 8        0   161.0   31.0                 192
 9        3   113.0   26.0                 142  )

In [23]:
# Add a simple index to help with merging
subset_for_merge = df[['Type', 'Post Month']]
subset_for_merge['Index'] = df.index

# Create a second small dummy DataFrame to merge
dummy_merge_df = df[['Page total likes']].copy()
dummy_merge_df['Index'] = df.index

# Merge both subsets on 'Index'
merged_df = pd.merge(subset_for_merge, dummy_merge_df, on='Index')

# Show merged data
merged_df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_10128\4283659440.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_for_merge['Index'] = df.index

     Type  Post Month  Index  Page total likes
0   Photo          12      0            139441
1  Status          12      1            139441
2   Photo          12      2            139441
3   Photo          12      3            139441
4   Photo          12      4            139441

In [25]:
# Sort by 'Page total likes' in descending order
sorted_df = df.sort_values(by='Page total likes', ascending=False)

# Sort by multiple columns
sorted_multi = df.sort_values(by=['Post Month', 'Page total likes'])

# Show sorted data
sorted_df.head(), sorted_multi.head()

(    Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
 0             139441   Photo         2          12             4          3
 8             139441  Status         2          12             7          3
 1             139441  Status         2          12             3         10
 12            139441   Photo         2          12             5         10
 11            139441   Photo         2          12             5         10

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
 0    0.0                       2752                             5091
 8    0.0                      11844                            22538
 1    0.0                      10460                            19057
 12   0.0                       2847                             5133
 11   0.0                       3112                             5590

     Lifetime Engaged Users  Lifetime Post Consumers  \
 0                      178                      109
 8                     1530                     1407
 1                     1457                     1361
 12                     193                      115
 11                     208                      127

     Lifetime Post Consumptions  \
 0                          159
 8                         1692
 1                         1674
 12                         133
 11                         145

     Lifetime Post Impressions by people who have liked your Page  \
 0                                                3078
 8                                               15220
 1                                               11710
 12                                               3779
 11                                               3887

     Lifetime Post reach by people who like your Page  \
 0                                               1640
 8                                               7912
 1                                               6112
 12                                              2072
 11                                              2174

     Lifetime People who have liked your Page and engaged with your post  \
 0                                                 119
 8                                                1250
 1                                                1108
 12                                                152
 11                                                165

     comment   like  share  Total Interactions
 0         4   79.0   17.0                 100
 8         0  161.0   31.0                 192
 1         5  130.0   29.0                 164
 12        0   90.0   14.0                 104
 11        0   88.0   18.0                 106  ,
      Page total likes   Type  Category  Post Month  Post Weekday  Post Hour  \
 496             81370  Photo         2           1             5          8
 497             81370  Photo         1           1             5          2
 498             81370  Photo         3           1             4         11
 499             81370  Photo         2           1             4          4
 493             85093  Photo         3           1             1          2

      Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
 496   0.0                       3480                             6229
 497   0.0                       3778                             7216
 498   0.0                       4156                             7564
 499   NaN                       4188                             7292
 493   0.0                       8412                            13960

      Lifetime Engaged Users  Lifetime Post Consumers  \
 496                     537                      508
 497                     625                      572
 498                     626                      574
 499                     564                      524
 493                    1179                     1111

      Lifetime Post Consumptions  \
 496                         687
 497                         795
 498                         832
 499                         743
 493                        1632

      Lifetime Post Impressions by people who have liked your Page  \
 496                                               3961
 497                                               4742
 498                                               4534
 499                                               3861
 493                                               8632

      Lifetime Post reach by people who like your Page  \
 496                                              2104
 497                                              2388
 498                                              2452
 499                                              2200
 493                                              5348

      Lifetime People who have liked your Page and engaged with your post  \
 496                                                301
 497                                                363
 498                                                370
 499                                                316
 493                                                699

      comment   like  share  Total Interactions
 496        0   53.0   22.0                  75
 497        4   93.0   18.0                 115
 498        7   91.0   38.0                 136
 499        0   91.0   28.0                 119
 493       17  185.0   55.0                 257  )

In [27]:
# Transpose the entire DataFrame
transposed_df = df.head().T  # Just transposing the first 5 rows for simplicity

# Show transposed data
transposed_df

,0,1,2,3,4
Page total likes,139441,139441,139441,139441,139441
Type,Photo,Status,Photo,Photo,Photo
Category,2,2,3,2,2
Post Month,12,12,12,12,12
Post Weekday,4,3,3,2,2
Post Hour,3,10,3,10,3
Paid,0.0,0.0,0.0,1.0,0.0
Lifetime Post Total Reach,2752,10460,2413,50128,7244
Lifetime Post Total Impressions,5091,19057,4373,87991,13594
Lifetime Engaged Users,178,1457,177,2211,671
Lifetime Post Consumers,109,1361,113,790,410
Lifetime Post Consumptions,159,1674,154,1119,580
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396
comment,4,5,0,58,19
like,79.0,130.0,66.0,1572.0,325.0
share,17.0,29.0,14.0,147.0,49.0
Total Interactions,100,164,80,1777,393

In [29]:
# Shape of the original dataset
original_shape = df.shape

# Melting: Convert wide to long format
melted = pd.melt(df, id_vars=['Type'], value_vars=['Page total likes', 'Post Month'])

# Pivoting: Convert long back to wide
pivoted = melted.pivot_table(index='Type', columns='variable', values='value', aggfunc='mean')

# Display results
original_shape, melted.head(), pivoted.head()

((500, 19),
      Type          variable   value
 0   Photo  Page total likes  139441
 1  Status  Page total likes  139441
 2   Photo  Page total likes  139441
 3   Photo  Page total likes  139441
 4   Photo  Page total likes  139441,
 variable  Page total likes  Post Month
 Type
 Link         116363.181818    6.590909
 Photo        122354.171362    6.805164
 Status       132647.044444    9.066667
 Video        135014.857143    9.571429)