In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

In [17]:
air = pd.read_csv("C:/Users/HP/OneDrive/Desktop/DSBDA/Grp B Assign 2/airquality.csv") 
heart = pd.read_csv("C:/Users/HP/OneDrive/Desktop/DSBDA/Grp B Assign 2/heartdisease.csv")

In [19]:
print(air.info())
print(heart.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108035 entries, 0 to 108034
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   StationId   108035 non-null  object
 1   Date        108035 non-null  object
 2   PM2.5       86410 non-null   float64
 3   PM10        65329 non-null   float64
 4   NO          90929 non-null   float64
 5   NO2         91488 non-null   float64
 6   NOx         92535 non-null   float64
 7   NH3         59930 non-null   float64
 8   CO          95037 non-null   float64
 9   SO2         82831 non-null   float64
 10  O3          82467 non-null   float64
 11  Benzene     76580 non-null   float64
 12  Toluene     69333 non-null   float64
 13  Xylene      22898 non-null   float64
 14  AQI         87025 non-null   float64
 15  AQI_Bucket  87025 non-null   object
dtypes: float64(13), object(3)
memory usage: 13.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB
None

In [21]:
# Fill missing numerical values with mean
air.fillna(air.mean(numeric_only=True), inplace=True)
heart.fillna(heart.mean(numeric_only=True), inplace=True)

# Optional: drop duplicates
air.drop_duplicates(inplace=True)
heart.drop_duplicates(inplace=True)

In [23]:
# Step 1: Display first 5 rows of cleaned air quality data
print("Cleaned Air Quality Data:")
display(air.head())

# Step 2: Display number of missing values after cleaning
print("\nMissing Values in Air Quality Dataset (After Cleaning):")
print(air.isnull().sum())

# Step 3: Display first 5 rows of cleaned heart disease data
print("\nCleaned Heart Disease Data:")
display(heart.head())

# Step 4: Display number of missing values after cleaning
print("\nMissing Values in Heart Disease Dataset (After Cleaning):")
print(heart.isnull().sum())

# Step 5: Display shape after dropping duplicates
print(f"\nShape after cleaning - Air: {air.shape}, Heart: {heart.shape}")

Cleaned Air Quality Data:

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,179.74929,NaN
1,AP001,25-11-2017,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.00000,Moderate
2,AP001,26-11-2017,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.00000,Moderate
3,AP001,27-11-2017,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.00000,Moderate
4,AP001,28-11-2017,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.00000,Moderate

Missing Values in Air Quality Dataset (After Cleaning):
StationId         0
Date              0
PM2.5             0
PM10              0
NO                0
NO2               0
NOx               0
NH3               0
CO                0
SO2               0
O3                0
Benzene           0
Toluene           0
Xylene            0
AQI               0
AQI_Bucket    21010
dtype: int64

Cleaned Heart Disease Data:

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

Missing Values in Heart Disease Dataset (After Cleaning):
Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          2
AHD           0
dtype: int64

Shape after cleaning - Air: (108035, 16), Heart: (303, 15)

In [25]:
# If no common key, just add side-by-side (concatenation)
combined = pd.concat([air.reset_index(drop=True), heart.reset_index(drop=True)], axis=1)

# Display combined data
combined.head()

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,AP001,24-11-2017,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,...,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,fixed,No
1,AP001,25-11-2017,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,...,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,normal,Yes
2,AP001,26-11-2017,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,...,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,reversable,Yes
3,AP001,27-11-2017,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,...,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,normal,No
4,AP001,28-11-2017,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,...,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,normal,No

In [27]:
# Convert categorical to numerical if needed (example)
combined = pd.get_dummies(combined, drop_first=True)

# Normalize numerical features
scaler = StandardScaler()
scaled_data = scaler.fit_transform(combined)

# Convert back to DataFrame
combined_scaled = pd.DataFrame(scaled_data, columns=combined.columns)
combined_scaled.head()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical,Thal_normal,Thal_reversable,AHD_Yes
0,-0.130225,-0.439900,-0.675463,-0.537278,-0.689176,-0.892101,-0.36741,-0.131723,2.080561,-0.339416,...,-0.345031,-0.529198,-0.225029,-0.349533,-0.028225,-0.021518,68.528636,-0.039229,-0.032927,-0.035893
1,0.016473,-0.348728,-0.685260,-0.542802,-0.696835,-0.971373,-0.36253,0.262311,2.602126,-0.336222,...,-0.345031,-0.529198,-0.225029,-0.349533,-0.028225,-0.021518,-0.014592,25.491435,-0.032927,27.860908
2,-0.028530,-0.301215,-0.690948,-0.340274,-0.630539,-0.995100,-0.35765,1.293132,2.319843,-0.334093,...,-0.345031,-0.529198,-0.225029,-0.349533,-0.028225,-0.021518,-0.014592,-0.039229,30.370645,27.860908
3,0.124013,-0.235988,-0.522189,-0.161682,-0.464916,-0.853273,-0.36497,1.876267,2.155153,-0.326640,...,-0.345031,-0.529198,-0.225029,-0.349533,35.429097,-0.021518,-0.014592,25.491435,-0.032927,-0.035893
4,-0.235135,-0.561392,-0.649865,-0.264050,-0.578841,-0.933624,-0.36985,0.593018,2.926531,-0.339416,...,-0.345031,-0.529198,-0.225029,-0.349533,-0.028225,46.472573,-0.014592,25.491435,-0.032927,-0.035893

In [31]:
# Convert categorical columns to numeric using one-hot encoding
combined_encoded = pd.get_dummies(combined, drop_first=True)

# Display the transformed columns
print("Encoded columns:")
display(combined_encoded.head())

Encoded columns:

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical,Thal_normal,Thal_reversable,AHD_Yes
0,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,...,False,False,False,False,False,False,True,False,False,False
1,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,...,False,False,False,False,False,False,False,True,False,True
2,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,...,False,False,False,False,False,False,False,False,True,True
3,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,...,False,False,False,False,True,False,False,True,False,False
4,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,...,False,False,False,False,False,True,False,True,False,False

In [33]:
from sklearn.preprocessing import StandardScaler

# Scale the data
scaler = StandardScaler()
combined_scaled_array = scaler.fit_transform(combined_encoded)

# Convert back to DataFrame
combined_scaled = pd.DataFrame(combined_scaled_array, columns=combined_encoded.columns)

# Display normalized data
print("Normalized Data:")
display(combined_scaled.head())

Normalized Data:

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,AQI_Bucket_Poor,AQI_Bucket_Satisfactory,AQI_Bucket_Severe,AQI_Bucket_Very Poor,ChestPain_nonanginal,ChestPain_nontypical,ChestPain_typical,Thal_normal,Thal_reversable,AHD_Yes
0,-0.130225,-0.439900,-0.675463,-0.537278,-0.689176,-0.892101,-0.36741,-0.131723,2.080561,-0.339416,...,-0.345031,-0.529198,-0.225029,-0.349533,-0.028225,-0.021518,68.528636,-0.039229,-0.032927,-0.035893
1,0.016473,-0.348728,-0.685260,-0.542802,-0.696835,-0.971373,-0.36253,0.262311,2.602126,-0.336222,...,-0.345031,-0.529198,-0.225029,-0.349533,-0.028225,-0.021518,-0.014592,25.491435,-0.032927,27.860908
2,-0.028530,-0.301215,-0.690948,-0.340274,-0.630539,-0.995100,-0.35765,1.293132,2.319843,-0.334093,...,-0.345031,-0.529198,-0.225029,-0.349533,-0.028225,-0.021518,-0.014592,-0.039229,30.370645,27.860908
3,0.124013,-0.235988,-0.522189,-0.161682,-0.464916,-0.853273,-0.36497,1.876267,2.155153,-0.326640,...,-0.345031,-0.529198,-0.225029,-0.349533,35.429097,-0.021518,-0.014592,25.491435,-0.032927,-0.035893
4,-0.235135,-0.561392,-0.649865,-0.264050,-0.578841,-0.933624,-0.36985,0.593018,2.926531,-0.339416,...,-0.345031,-0.529198,-0.225029,-0.349533,-0.028225,46.472573,-0.014592,25.491435,-0.032927,-0.035893

In [39]:
# Remove irrelevant column
heart = heart.drop(columns=['Unnamed: 0'])

# Drop rows with missing or NaN values
heart = heart.dropna()

# Display cleaned shape
print("Cleaned heart dataset shape:", heart.shape)

Cleaned heart dataset shape: (301, 14)

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Encode target column (Yes=1, No=0)
heart['AHD'] = LabelEncoder().fit_transform(heart['AHD'])

# Convert categorical columns to dummy variables
heart_encoded = pd.get_dummies(heart, drop_first=True)

# Split features and target
X = heart_encoded.drop('AHD', axis=1)
y = heart_encoded['AHD']

# Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Build logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict and evaluate
y_pred = model.predict(X_test)
print("✅ Model Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

✅ Model Accuracy: 0.8032786885245902

Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.82      0.82        34
           1       0.78      0.78      0.78        27

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61